.bd-text {
    color:rgba(222, 218, 214, 1);
    /*background-color:rgba(0, 0, 0, 0.382);*/
    background-color:rgba(0, 0, 0, 0.618);

}

.invert{
    filter: invert(100%);
    background-image: url('../image/stars-s-w.jpeg');
}

.pl-c /* comment, punctuation.definition.comment, string.comment */ {
    color: #6a737d;
}

.pl-c1 /* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.raw, meta.diff.header, meta.output */,
.pl-s .pl-v /* string variable */ {
    color: #005cc5;
}

.pl-e /* entity */,
.pl-en /* entity.name */ {
    color: #6f42c1;
}

.pl-smi /* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */,
.pl-s .pl-s1 /* string source */ {
    color: #24292e;
}

.pl-ent /* entity.name.tag, markup.quote */ {
    color: #22863a;
}

.pl-k /* keyword, storage, storage.type */ {
    color: #d73a49;
}

.pl-s /* string */,
.pl-pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */,
.pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */,
.pl-sr /* string.regexp */,
.pl-sr .pl-cce /* string.regexp constant.character.escape */,
.pl-sr .pl-sre /* string.regexp source.ruby.embedded */,
.pl-sr .pl-sra /* string.regexp string.regexp.arbitrary-repitition */ {
    color: #29a198;
}

.pl-v /* variable */,
.pl-smw /* sublimelinter.mark.warning */ {
    color: #e36209;
}

.pl-bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */ {
    color: #b31d28;
}

.pl-ii /* invalid.illegal */ {
    color: #fafbfc;
    background-color: #b31d28;
}

.pl-c2 /* carriage-return */ {
    color: #fafbfc;
    background-color: #d73a49;
}

.pl-c2::before /* carriage-return */ {
    content: "^M";
}

.pl-sr .pl-cce /* string.regexp constant.character.escape */ {
    font-weight: bold;
    color: #22863a;
}

.pl-ml /* markup.list */ {
    color: #735c0f;
}

.pl-mh /* markup.heading */,
.pl-mh .pl-en /* markup.heading entity.name */,
.pl-ms /* meta.separator */ {
    font-weight: bold;
    color: #005cc5;
}

.pl-mi /* markup.italic */ {
    font-style: italic;
    color: #24292e;
}

.pl-mb /* markup.bold */ {
    font-weight: bold;
    color: #24292e;
}

.pl-md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */ {
    color: #b31d28;
    background-color: #ffeef0;
}

.pl-mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */ {
    color: #22863a;
    background-color: #f0fff4;
}

.pl-mc /* markup.changed, punctuation.definition.changed */ {
    color: #e36209;
    background-color: #ffebda;
}

.pl-mi2 /* markup.ignored, markup.untracked */ {
    color: #f6f8fa;
    background-color: #005cc5;
}

.pl-mdr /* meta.diff.range */ {
    font-weight: bold;
    color: #6f42c1;
}

.pl-ba /* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */ {
    color: #586069;
}

.pl-sg /* sublimelinter.gutter-mark */ {
    color: #959da5;
}

.pl-corl /* constant.other.reference.link, string.other.link */ {
    text-decoration: underline;
    color: #032f62;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
    h1 {
        font-size: 2.15rem;
    }
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
    h2 {
        font-size: 1.79rem;
    }
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
    h3 {
        font-size: 1.61rem;
    }
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
    h4 {
        font-size: 1.43rem;
    }
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}



/*Radio bottoms, Leaf link buttons*/
.btn-radio-HG {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    color: rgba(255, 255, 255, 0.6);
    text-decoration:none;
    font-size: 1em;
    /*border-color: rgba(255, 255, 255, 0.1);*/
}
.btn-radio-HG:hover {
    color: rgba(255, 255, 255, 0.8);
    /*background-color: rgba(255, 255, 255, 0.1);*/
    border-color: rgba(255, 255, 255, 0.6);

}
/*Focus*/
.btn-check:focus + .btn-radio-HG, .btn-radio-HG:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
/*Checked or Active*/
.btn-check:checked + .btn-radio-HG, .btn-check:active + .btn-radio-HG, .btn-radio-HG:active, .btn-radio-HG.active, .btn-radio-HG.dropdown-toggle.show {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
    /*border-color: rgba(255, 255, 255, 0.1);*/
    font-weight: 600;
}
/*(Checked or Active) and Focus*/
.btn-check:checked + .btn-radio-HG:focus, .btn-check:active + .btn-radio-HG:focus, .btn-radio-HG:active:focus, .btn-radio-HG.active:focus, .btn-radio-HG.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-radio-HG:disabled, .btn-radio-HG.disabled {
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
}


/*Theme Switcher*/
.btn-switch {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    color: rgba(255, 255, 255, 1);
    text-decoration:none;
    font-size: 1em;
    /*border-color: rgba(255, 255, 255, 0.1);*/
}
.btn-switch:hover {
    color: rgba(255, 255, 255, 1);
    /*background-color: rgba(255, 255, 255, 0.1);*/
    border-color: rgba(255, 255, 255, 1);

}
.btn-check:checked + .btn-switch, .btn-check:active + .btn-switch, .btn-switch:active, .btn-switch.active, .btn-switch.dropdown-toggle.show {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.6);
    /*border-color: rgba(255, 255, 255, 0.1);*/
    font-weight: 600;
}
.btn-switch:disabled, .btn-switch.disabled {
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
}
